.carousel {
  position: relative;
  display: flex;
  overflow-y: hidden;
}

.previous {
  left: 5%;
}
.next {
  right: 5%;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide-active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.next,
.previous {
  position: absolute;
  top: 47%;
  background-color: var(--White);
  border-radius: 50%;
  z-index: 20;
  padding: 0.5rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  user-select: none;
  cursor: pointer;
}
.next img,
.previous img {
  max-width: 0.5rem;
}

@media screen and (min-width: 1000px) {
  .carousel img {
    border-radius: 1rem;
  }
  .next,
  .previous {
    display: none;
  }
  .next img,
  .previous img {
    display: none;
  }
}
