.nav {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 1rem;
  align-self: center;
}

.logo {
  align-self: center;
  padding: 0 0 0 0.5rem;
  width: 8rem;
}
.left-nav {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
.right-nav {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.left-nav button {
  background-color: inherit;
  outline: none;
  border: none;
  display: flex;
  align-content: center;
}

.cart-wrap {
  border: none;
  background-color: inherit;
  outline: none;
}

.cart {
  padding: 0 1.2rem 0 0;
  /* max-width: 1rem; */
  min-width: 0.5rem;
  height: auto;
}
.cart:hover {
  opacity: 0.75;
}

.avatar {
  max-width: 1.25rem;
  height: auto;
  border-radius: 50%;
}
.avatar:hover {
  border: 2px solid var(--Orange);
}

/* menu links */

.contain-menu-link {
  display: none;
}
.links-active {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  z-index: 50;
  background-color: var(--Black-75-opacity-for-lightbox-background);
  transition: all 2s ease-out;
}
.menu-links-wrap {
  min-height: 100vh;
  background-color: white;
  padding: 3rem 2rem;
  max-width: 60%;
}

.menu-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.menu-links li {
  padding: 0.5rem 0;
}
.menu-links li > * {
  font-weight: 700;
  color: var(--Very-dark-blue);
}

.menu-links li > *:hover {
  opacity: 0.75;
}

/* bigger screens */
@media screen and (min-width: 1000px) {
  .nav {
    padding: 1rem 0;
    border-bottom: 2px solid var(--Light-grayish-blue);
  }
  .close,
  .menu {
    display: none;
  }
  .contain-menu-link {
    display: block;
  }
  .menu-links-wrap {
    min-height: auto;
    background-color: inherit;
    padding: 0.1rem;
    max-width: auto;
    max-width: 100%;
  }
  .menu-links {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .menu-links ul {
    display: flex;
    padding: 0.1rem;
  }
  .menu-links ul li {
    padding: 0 1.25rem;
  }
  .menu-links ul li > * {
    padding: 1.5rem 0;
  }
  .menu-links ul li > *:hover {
    border-bottom: 2px solid var(--Orange);
    opacity: 0.75;
  }
  .logo {
    margin-right: 2rem;
  }
  .avatar {
    max-width: 2.5rem;
    margin-left: 1rem;
  }
  .left-nav button {
    display: none;
  }
}
